.header {
    display: flex;
    justify-content: center;
    background-color: rgb(231, 196, 203);
    font-size: 1.6rem;
    padding-top: 1vh;
    padding-bottom: 1vh;

    cursor: pointer;

    text-align: center;
}

.waldo-wave { 
    height: 10vh;
    mix-blend-mode: multiply;
}

@media (max-width: 480px) {
    .header {
        font-size: 1rem;
    }
}